.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;

    &:hover {
      cursor: pointer;

      .background-image {
        transform:scale(1.1);
        transition: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95)
      }

      .background-image-cover {
        opacity: 0.6;
        transition: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95)
      }

      .content {
        background-color: rgba(0,0,0,0);
        transition: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        border: 3px solid white;

        .title {
          color: white;
          transition: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
  
        .subtitle {
          color: white;
          transition: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

      }
    }
    
    &.large {
      height: 380px;
    }

    .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    .background-image-cover {
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }

    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      border: 3px solid black;
      background-color: white;
      position: absolute;
      z-index: 2;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: black;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }